* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
    color: #4b2e83;
    font-weight: bold;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f5;
    color: #333;
}

.name_results {
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 20px 10px 10px 50px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result{
    margin-left:15px;
    color: gray;
}

.result-wrap {
    font-weight: bold;
    color: hsl(274, 92%, 24%);
}
    
nav {
    background-color: #d59fff;
    /* background-color: hsl(274, 92%, 24%); */
    padding: 1rem 0;
}

.nav-link {
    color: #ffffff; 
    text-decoration: none;
    transition: border-bottom 0.3s;
    padding: 0.5rem;
}

.nav-link:hover, .nav-link.active {
    border-bottom: 3px solid #4b2e83;
    color: #fff;
}

.navbar {
    border-bottom: 1px solid #ddd;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.bottom-spacing {
    margin-bottom: 1.5em;
}

.side-spacing {
    margin-left: .5rem;
}

.underlined {
    border-bottom: 1px solid black;
}

footer {
    color: white;
    background-color: #301934;
    text-align: center;
}

img {
    display: none;
}

form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd; 
}

.card {
    background-color: white; 
    border: 1px solid #eeeeee; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.card:hover {
    border-color: #4b2e83;
}

ul, ol {
    padding-left: 20px; 
}

.button-primary {
    background-color: #cf9fff;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s;
}

.button-primary:hover {
    background-color: #3a2066;
}

.card-subtitle {
    color: #198754;
    size: 12px;
    font-weight: bold;
}

@media (min-width: 768px) {
    img {
        display: block;
    }
}
